body{
    background-color:#dce0e4;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
header{
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.wd100{
    width:100%;
}
.tdequipo{
    width:200px;
}
.tdhora{
    border-right:1px solid gray;
    padding:5px;
}
.tablaencuentros tr{
    border-bottom: 1px solid gray;
}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.titulogris{
    color: gray;
}
.headertop{
    background-color: #054f79;
    color: white;
}

.headerbottom{
    background-color: #08476a;
    color: white;
    margin-top:-16px;
}

.inlineblock{
    display: inline-block;
    vertical-align: middle;
}

.cperfil{
    text-align: right;
    cursor:pointer;
}


.contenido_principal{
    margin-top:140px;
}
.contenido_principal > div.container{
    background-color: white;
}

.div_1,
.div_10,
.div_11,
.div_12,
.div_2,
.div_3,
.div_4,
.div_5,
.div_6,
.div_7,
.div_8,
.div_9 {
    display: inline-block;
    vertical-align: top;
}

.div_1 {
    width: 80px
}

.div_2 {
    width: 180px
}

.div_3 {
    width: 280px
}

.div_4 {
    width: 380px
}

.div_5 {
    width: 480px
}

.div_6 {
    width: 580px
}

.div_7 {
    width: 680px
}

.div_8 {
    width: 780px
}

.div_9 {
    width: 880px
}

.div_10 {
    width: 980px
}

.div_11 {
    width: 1080px
}

.div_12 {
    width: 1180px
}


.container {
    width: 1200px;
    padding:0;
    margin: auto;
}


.div_1,
.div_10,
.div_11,
.div_12,
.div_2,
.div_3,
.div_4,
.div_5,
.div_6,
.div_7,
.div_8,
.div_9{
    margin: 8px;
}
@media only screen and (min-width:960px) and (max-width:1199px) {
    
    .container {
        width: 960px
    }
    .div_1 {
        width: 60px
    }
    .div_2 {
        width: 140px
    }
    .div_3 {
        width: 220px
    }
    .div_4 {
        width: 300px
    }
    .div_5 {
        width: 380px
    }
    .div_6 {
        width: 460px
    }
    .div_7 {
        width: 540px
    }
    .div_8 {
        width: 620px
    }
    .div_9 {
        width: 700px
    }
    .div_10 {
        width: 780px
    }
    .div_11 {
        width: 860px
    }
    .div_12 {
        width: 940px
    }
}

@media only screen and (min-width:768px) and (max-width:959px) {
   
    .container {
        width: 744px
    }
    .div_1 {
        width: 42px
    }
    .div_2 {
        width: 104px
    }
    .div_3 {
        width: 166px
    }
    .div_4 {
        width: 228px
    }
    .div_5 {
        width: 290px
    }
    .div_6 {
        width: 352px
    }
    .div_7 {
        width: 414px
    }
    .div_8 {
        width: 476px
    }
    .div_9 {
        width: 538px
    }
    .div_10 {
        width: 600px
    }
    .div_11 {
        width: 662px
    }
    .div_12 {
        width: 724px
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    
    .container {
        width: 460px
    }
    .div_1,
    .div_10,
    .div_11,
    .div_12,
    .div_2,
    .div_3,
    .div_4,
    .div_5,
    .div_6,
    .div_7,
    .div_8,
    .div_9 {
        width: 440px
    }
    
}


@media only screen and (min-width:320px) and (max-width:479px) {
    .container {
        width: 300px
    }
    .div_1,
    .div_10,
    .div_11,
    .div_12,
    .div_2,
    .div_3,
    .div_4,
    .div_5,
    .div_6,
    .div_7,
    .div_8,
    .div_9 {
        width: 280px;
    }
}

/* MENU */
nav{
    width:100%;
}
nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: left;
    position: relative;
    list-style-type: none;
}

nav ul li:hover {
    color: rgba(213, 213, 228, 0.67);
}

nav ul li:hover a {
    color:  rgba(213, 213, 228, 0.67);
}

nav ul li.active {
    background-color: #FEFDFC !important;
}
nav ul li.active a {
    color: #054f79 !important;
}

nav ul li a {
    display: block;
    padding: 20px 30px;
    font-weight:bold;
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
}

nav ul ul {
    background: #5f6975;
    padding: 0;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    float: none;
    position: relative;
}

nav ul ul li a {
    padding: 15px 10px;
    color: #ffffff;
    text-transform: uppercase;
}

nav ul ul li a:hover {
    background: rgba(19, 20, 123, 0.67);
}

